* {
  text-decoration: none;
  margin: auto;
  font-family: 'Dosis', sans-serif;
}

table {
  border: 2px solid rgb(0, 0, 0);
  width: 65%;
  border-collapse: collapse;
}

.center {
  text-align: center;
}

.delete {
  position: relative;
  box-shadow: 4px 3px 1px #454545;
}

.delete-btn {
  text-align: right;
}

hr {
  width: 15%;
}

.content {
  text-align: left;
}

.submit {
  position: absolute;
  text-align: right;
  right: 35.5555%;
  box-shadow: 4px 3px 1px #454545;
}

#book-form {
  width: 40%;
  margin: auto;
  text-align: center;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: rgb(217, 217, 217);
}

input {
  width: 70%;
}
